html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(../images/concrete_seamless.png);
  margin: 0;
  padding: auto;
}

.hidden {
  display: none;
}

img {
  border: solid 15px white;
  border-radius: 15px;
  box-shadow: 10px 3px 5px black;
  transform: rotateZ(-5deg);
  float: right;
  position: relative;
  left: -70px;
  width: 640px;
  height: 390px;
}
