html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(../images/concrete_seamless.png);
  margin: 0;
  padding: auto;
}

.clear {
  clear: both;
}

img {
  border: solid 15px white;
  border-radius: 15px;
  box-shadow: 10px 3px 5px black;
  transform: rotateZ(-5deg);
  float: right;
  position: relative;
  left: -70px;
  width: 640px;
  height: 390px;
}

figcaption {
  font-size: 2em;
  transform: rotateZ(-10deg);
  color: #2b8782;
  margin: 0px 0px 0px 350px;
}
